<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
<body>
<center>
<H1>COIN CHANGER</H1>
<H2>ENTER AN AMOUNT</H2>
<form action="result" method="post" >
<input field name="coin_value" placeholder="$ 00.00">
<button class="button" type="submit" onclick="validateAmount()">CALCULATE</button>

</form>
</center>
</body>
</html>

