<!DOCTYPE html>
<!DOCTYPE html>
<html>
<div class="img-container">
<head>
	<title>COIN CHANGER</title>
	 <link rel="icon" type="image/ico" href="/images/favicon.ico"/>
	<link rel="stylesheet" type="text/css"  href="css/styles.css">
   
</head>
<body>
</div>
<!--Brings the page content -->
<%=yield%>
<footer>
  <p>
  <div  class="main_link">
		<a href="/"> Return to home</a>
	</div>
  </p>
  <p>Created by: Dover Hellfeldt</p>
</footer>
</body>
</html>