<div class="img-container">
<head>
	<title>COIN CHANGER</title>
	<link rel="stylesheet" type="text/css"  href="css/styles.css">
	<script src="js/main.js"type="text/javascript"></script>
</head>
</div>
<!--Brings the page content -->
<%=yield%>
<br>
<br>
<div  class="main_link">
	<a href="/"> Return to home</a>
</div>