<!DOCTYPE html>
<html>
<body>
<center>
<H1>COIN CHANGER</H1>
<H2>ENTER AN AMOUNT</H2>
<form action="result" method="post">
<input field name="coin_value" placeholder="$ 00.00" id="amount">

<button class="button" type="submit" onclick=" validateAmount()">CALCULATE</button>
</br>
<H2>YOUR CHANGE IS 
</br> 
<div>
  <img style="vertical-align:middle" src="../images/quarter.png">
  <span style=""><%=results[:quarters]%> </span>
</div>
<div>
  <img style="vertical-align:middle" src="../images/dime.png">
  <span style=""><%=results[:dime]%> </span>
</div> 
<div>
  <img style="vertical-align:middle" src="../images/nickel.png">
  <span style=""><%=results[:nickel]%> </span>
</div>
</br> 
<div>
  <img style="vertical-align:middle" src="../images/penny.png">
  <span style=""><%=results[:penny]%> </span>
</div>
</H2>




</form>
</center>
<!-- Function to verify is your inserting a number -->
<script>
	function validateAmount(){

		var val = document.getElementById('amount').value
		console.log(val);
		if  (isNaN(val))
			alert("Insert an amount with numbers!");
			
	}

</script>


</body>
</html>




