<!DOCTYPE html>
<html>
<head>
	<title>COIN CHANGER</title>
	<link rel="stylesheet" type="text/css"  href="styles.css">
</head>
<body>
<center>
<H1>COIN CHANGER</H1>
<H2>ENTER AN AMOUNT</H2>
<form action="result" method="post" >
<input field name="coin_value" placeholder="$ 00.00">
<input type="submit" value="CALCULATE">
</br>
<H2>YOUR TOTAL IS <%=results%> </H2>




</form>
</center>
</body>
</html>




